# House Prices - Advanced Regression Techniques

*(preços de casas - Técnicas Avançadas de Regressão)*

* Vamos utilizar o [dataset disponivel do Kaggle](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques)

**Importar a Biblioteca do pandas**

In [1]:
import pandas as pd

**Importando o dataset de treino**

In [3]:
base = pd.read_csv("C:\\Users\\dell\\Documents\\projetos pessoais\\House Prices\\train (1).csv")

**Visualizar a base**

In [5]:
base.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

**Retornando o shape da base**

In [7]:
base.shape

(1460, 81)

In [8]:
# e as informações 
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

# Começar a Explorar os dados

In [12]:
#vizualizar a quantidade de valores vazios

(base.isnull().sum()/base.shape[0]).sort_values(ascending = False).head(20)

PoolQC          0.995205
MiscFeature     0.963014
Alley           0.937671
Fence           0.807534
MasVnrType      0.597260
FireplaceQu     0.472603
LotFrontage     0.177397
GarageYrBlt     0.055479
GarageCond      0.055479
GarageType      0.055479
GarageFinish    0.055479
GarageQual      0.055479
BsmtFinType2    0.026027
BsmtExposure    0.026027
BsmtQual        0.025342
BsmtCond        0.025342
BsmtFinType1    0.025342
MasVnrArea      0.005479
Electrical      0.000685
Id              0.000000
dtype: float64

In [15]:
#podemos eliminar as colunas com mais de 10% de valores vazios

eliminar = base.columns[(base.isnull().sum()/base.shape[0]) > 0.1]
eliminar

Index(['LotFrontage', 'Alley', 'MasVnrType', 'FireplaceQu', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [17]:
#Eliminando essas colunas 

base = base.drop(eliminar, axis = 1)

In [19]:
#visualizar quantidade de valores vazios
(base.isnull().sum()/base.shape[0]).sort_values(ascending = False).head(20)

GarageType      0.055479
GarageCond      0.055479
GarageYrBlt     0.055479
GarageFinish    0.055479
GarageQual      0.055479
BsmtFinType2    0.026027
BsmtExposure    0.026027
BsmtFinType1    0.025342
BsmtCond        0.025342
BsmtQual        0.025342
MasVnrArea      0.005479
Electrical      0.000685
WoodDeckSF      0.000000
PavedDrive      0.000000
LowQualFinSF    0.000000
GrLivArea       0.000000
BsmtFullBath    0.000000
BsmtHalfBath    0.000000
FullBath        0.000000
HalfBath        0.000000
dtype: float64

* Queremos criar um primeiro modelo para verificar o quanto estamos errando e depois planejar em como melhorar. Para isso:

 * vamos **eliminar as colunas de texto**
 
 * Precisamos **tratar os valores vazios**
 
 * Vamos **escolher alguns algoritmos para testar e um método de avaliação de erro**

In [23]:
#selecionando apenas as colunas numéricas

colunas = base.columns[base.dtypes != 'object']
colunas

Index(['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [25]:
#Criar uma nova base com esses valores 
base2 = base.loc[:,colunas]
base2.head(3)

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,196.0,706,0,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,0.0,978,0,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,162.0,486,0,...,0,42,0,0,0,0,0,9,2008,223500

In [29]:
#verificar valores vazios

base2.isnull().sum().sort_values(ascending = False).head(3)

GarageYrBlt    81
MasVnrArea      8
Id              0
dtype: int64

In [30]:
#Substituindo os valores vazios por -1

base2 = base2.fillna(-1)

* Essa sera a nossa base inicial para começar

In [34]:
#selecionando x e y 

x = base2.drop('SalePrice', axis = 1)
y = base2.SalePrice

In [35]:
#importando train_test_split
from sklearn.model_selection import train_test_split

In [37]:
#separando essa base em treino e teste
x_train, x_test , y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state=42)

* **O próximo passo é selecionar os algoritmos que vamos utilizar. Podemos começar com os algoritmos mais simples como:**

* Regressão Linear
* Arvore de Regressão
* KneigborsRegressor

In [38]:
#importando a regressão Linear
from sklearn.linear_model import LinearRegression

In [39]:
#Criando o regressor e fazendo o fit com os dadosde treino
reg_rl = LinearRegression().fit(x_train, y_train)

In [40]:
#fazendo a previsão com os dados de teste
y_rl = reg_rl.predict(x_test)

In [42]:
#importando a arvore de regressão
from sklearn import tree

In [43]:
#criando o regressor e fazendo o fit com os dados de treino
reg_tree = tree.DecisionTreeRegressor(random_state=42).fit(x_train, y_train)

In [44]:
#fazendo a previsão
y_tree = reg_tree.predict(x_test)

In [45]:
#Importando o KNN
from sklearn.neighbors import KNeighborsRegressor

In [46]:
#criando o regressor e fazendo o fit com os dados de treino
reg_knn = KNeighborsRegressor(n_neighbors = 2).fit(x_train, y_train)

In [47]:
#fazendo a previsão
y_knn = reg_knn.predict(x_test)

**Avaliar esses dados, utilizando o erro absoluto quanto o quadratico**

In [48]:
#importando o erro médio absoluto
from sklearn.metrics import mean_absolute_error

In [49]:
#E o erro quadrático médio
from sklearn.metrics import mean_squared_error

In [51]:
#Avaliando o erro da regressão
print(mean_absolute_error(y_test, y_rl))
print(mean_squared_error(y_test, y_rl))

23763.18739306408
1533982883.4448242

In [52]:
#da arvore de decisão
print(mean_absolute_error(y_test, y_tree))
print(mean_squared_error(y_test, y_tree))

27580.78838174274
2530245114.701245

In [53]:
# e do knn
print(mean_absolute_error(y_test, y_knn))
print(mean_squared_error(y_test, y_knn))

33273.08298755187
2733937586.841286

# Fazendo a previsão para a base de teste da competição

In [58]:
#importando a base de teste

teste = pd.read_csv("C:\\Users\\dell\\Documents\\projetos pessoais\\House Prices\\test (2).csv")

In [59]:
#visualizar a base
teste.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

# Fazer os mesmos tratamentos do que na base de treino

In [60]:
#eliminando as mesmas colunas 
teste = teste.drop(eliminar, axis = 1)

In [62]:
#verificar as colunas numericas 
colunas2 = teste.columns[teste.dtypes != 'object']
colunas2

Index(['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold'],
      dtype='object')

In [63]:
#Mantendo tambem as colunas numricas 
teste = teste.loc[:,colunas2]

In [64]:
#verificando a base restante
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 36 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   LotArea        1459 non-null   int64
 3   OverallQual    1459 non-null   int64
 4   OverallCond    1459 non-null   int64
 5   YearBuilt      1459 non-null   int64
 6   YearRemodAdd   1459 non-null   int64
 7   MasVnrArea     1444 non-null   float64
 8   BsmtFinSF1     1458 non-null   float64
 9   BsmtFinSF2     1458 non-null   float64
 10  BsmtUnfSF      1458 non-null   float64
 11  TotalBsmtSF    1458 non-null   float64
 12  1stFlrSF       1459 non-null   int64
 13  2ndFlrSF       1459 non-null   int64
 14  LowQualFinSF   1459 non-null   int64
 15  GrLivArea      1459 non-null   int64
 16  BsmtFullBath   1457 non-null   float64
 17  BsmtHalfBath   1457 non-null   float64
 18  FullBath       1459 non-null   int64
 19  HalfBath       1459 non-null   int64
 20  BedroomAbvGr   1459 non-null   int64
 21  KitchenAbvGr   1459 non-null   int64
 22  TotRmsAbvGrd   1459 non-null   int64
 23  Fireplaces     1459 non-null   int64
 24  GarageYrBlt    1381 non-null   float64
 25  GarageCars     1458 non-null   float64
 26  GarageArea     1458 non-null   float64
 27  WoodDeckSF     1459 non-null   int64
 28  OpenPorchSF    1459 non-null   int64
 29  EnclosedPorch  1459 non-null   int64
 30  3SsnPorch      1459 non-null   int64
 31  ScreenPorch    1459 non-null   int64
 32  PoolArea       1459 non-null   int64
 33  MiscVal        1459 non-null   int64
 34  MoSold         1459 non-null   int64
 35  YrSold         1459 non-null   int64
dtypes: float64(10), int64(26)
memory usage: 410.5 KB

In [66]:
#visualizar a quantidade de valores vazios
teste.isnull().sum().sort_values(ascending = False).head(10)

GarageYrBlt     78
MasVnrArea      15
BsmtHalfBath     2
BsmtFullBath     2
BsmtUnfSF        1
GarageCars       1
GarageArea       1
BsmtFinSF1       1
BsmtFinSF2       1
TotalBsmtSF      1
dtype: int64

In [67]:
#substituir os valores vazios por -1
teste = teste.fillna(-1)

In [69]:
#Vamos usar a Regressao linear para fazer a previsão
y_pred = reg_rl.predict(teste)

In [70]:
#podemos adicionar essa coluna de previsão na nossa base
teste["SalePrice"] = y_pred

In [73]:
# E extrair somente o Id e SalePrice
resultado = teste[['Id', 'SalePrice']]

In [75]:
#Podemos então exportar essa base
resultado.to_csv('resultado.csv', index = False)